.action-button {
  display: block;
  width: 100%;
  line-height: 56px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  text-align: center;
  flex-shrink: 0;

  body.platform-ios & {
    background-color: rgba(0,0,0,0.2);
  }
}

.action-button.action-button--primary.action-button--primary {
  color: #46320A;
  background-color: white;
}

.action-button.action-button--red.action-button--red {
  color: white;
  background-color: #E1514C;
}

.action-button.action-button--link.action-button--link {
  color: white;
  background-color: transparent;
  font-size: 16px;
}