.default-state-control {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 72px;
    display: flex;
    background-color: rgba(0,0,0, 0.28);
    color: rgba(255, 255, 255, 0.87);
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-weight: 200;
}