.explanation {
  @include position(absolute, 88% null null 50%);
  @include transform(translateX(-50%) translateY(-50%));
  width: 100%;
  display: block;
  color: #FFFFFF;
  opacity: 0.3;
  font-family: $main-font;
  font-size: 14px;
  text-align: center;
}