.explanation {
  position: absolute;
  top: calc(50% - 115px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 250px;
  display: block;
  color: #FFFFFF;
  font-family: $main-font;
  font-size: 14px;
  text-align: center;
}

