.page--bug-notice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page--bug-notice .notice {
    margin: auto 0;
}

.page--bug-notice .button-connect {
    align-self: flex-end;
}